#contents {
  width: 80%;
  margin: 40px auto;
}

header, footer {
  width: 80%;
  margin: 0 auto;
  background-color: #224552
}

#container {
  width: 80%;
  margin-top: 0 auto;
  background-color: #abbddb;
  display: flex;
}

nav {
  width: 20%;
  background-color: #d8d168;
}

main {
  width 80%;
  background-color: #777777;
}
